.card{
	margin: 0 !important;
}
.col-lg-6{
	padding: 0 !important;
}
.card-text{
	max-height: 166px;
	overflow: hidden;
	text-overflow: ellipsis;
}
.folder{
	display: flex;
	justify-content: center;
	border: solid black 3px;
}

.simple-linear{
	background: linear-gradient(blue, wheat);
}

@media(max-width: 768px){
	.simple-linear{
		background: linear-gradient(white, white);
	}
}

.items-slider{
	width: inherit;
	position: absolute;
	display: flex;
	justify-content: space-between;
}
.carousel-control-prev{
	position: relative;
}

.carousel-control-next{
	position: relative;
}

.card{
	margin: 8px 8px !important;
}

.form-control{
	width: auto;
}

.add-txt{
	color: black;
	text-decoration: none !important;
}
tbody, td, tfoot, th, thead, tr{
	border-style: none;
}

.ui-corner-all{
	border-radius: 30px!important;
}

.ui-widget-header{
	background-color:#2573c3!important;
}

.ui-widget-content{
	background-color: #7c7878!important;
}
.ui-state-active{
	background-color: #2573c3!important;
}
@media(max-width: 370px){
	.size{
		font-size: 13px;
	}
	.size__h4{
		font-size: 18px;
	}
}

@media(max-width: 324px){
	.size{
		font-size: 10px;
	}
}



